@media only screen and (min-width: 600px) {
  /* tablets */
  body {
    margin: 20px 20% 5% 20%;
  }
}

@media only screen and (min-width: 768px) {
  /* desktop */
  body {
    margin: 20px 20% 5% 20%;
  }
}

body {
  font-size: 14pt;
  font-family: Helvetica, Garamond;
  background-image: url("/catalog/images/background.png");
  background-repeat: repeat-y repeat-x;
}

section { 
  background-color: white;
  padding: 20px;
  border: solid thin #ddd;
}

header {
  font-weight: bold;
  font-size: 40pt;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.datasets {
  padding: 0;
}

.dataset {
  list-style-type: none;
  padding: 20px;
  margin-bottom: 20px;
  border: solid thin #ddd;
  background-color: white;
}

.dataset .title {
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 10px;
}

.title a {
  text-decoration: none;
}
