.datasets {
  margin: 25px;
}

div.filter {
  margin-top: 40px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.subjects {
  margin-top: 10px;
  flex-grow: 1;
}

.dates {
  margin-top: 10px;
  display: flex;
  flex-grow: 1;
}

.tweetsStart {
  flex-grow: 1;
}

.tweetsEnd {
  flex-grow: 1;
}

.search {
  margin-top: 10px;
  flex-grow: 3;
}

.search input {
  width: 350px;
}

.addRecord {
  margin-top: 10px;
  display: none;
  flex-grow: 1;
  text-align: left;
}

.colHeader th {
  font-weight: bold;
}

tr:nth-child(even) { 
  background-color: #eee;
} 

.summary {
  display: flex;
  margin: 25px 0px 25px 0px;
  font-size: 12pt;
}

.recordCount { 
  font-weight: bold;
  margin-right: 50px;
}

.tweetCount {
  font-weight: bold;
}

.licenseNote {
  margin-left: 20px;
  color: gray;
  display: none;
}

@media only screen and (min-width: 768px) {
  div.filter {
    flex-direction: row;
  }
  .addRecord {
    display: inline;
  }
  .licenseNote {
    display: block;
  }
}
