.datasets {
  margin: 25px;
}

div.summary {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

div.recordCount {
  margin-top: 5px;
  flex-grow: 2;
  font-weight: bold;
  font-size: 18pt;
}

.addRecord {
  flex-grow: 1;
  text-align: left;
}

div.filter {
  margin-top: 40px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.subjects {
  flex-grow: 1;
}

.dates {
  display: flex;
  flex-grow: 1;
}

.tweetsStart {
  flex-grow: 1;
}

.tweetsEnd {
  flex-grow: 1;
}

.search {
  flex-grow: 2;
}

.search input {
  min-width: 400px;
}

.licenseNote {
  margin-top: 20px;
  margin-bottom: 20px;
  color: gray;
  display: none;
  font-size: 12pt;
  text-align: center;
}

.colHeader th {
  font-weight: bold;
}

div.datasetsTable {
  margin-top: 40px;
  border-top: thin inset #ccc;
}

tr:nth-child(even) { 
  background-color: #eee;
} 

@media only screen and (min-width: 768px) {
  div.filter {
    flex-direction: row;
  }
  .addRecord {
    display: inline;
  }
  .licenseNote {
    display: block;
  }
}
