header {
  border-bottom: 5px solid black;
  display: flex;
}

header .docnow img {
  height: 50px;
}

header .catalog img {
  height: 120px;
}

header .docnow {
  flex-grow: .7;
  padding-left: 10px;
  padding-top: 30px;
}

header .catalog {
  flex-grow: 1;
  text-align: center;
}

header .right {
  flex-grow: 1;
}
